<div class="personal-info">
    <p>
      <span class="fa fa-envelope"></span>
      <a href="mailto:grosjeanbaptiste@outlook.com">grosjeanbaptiste@outlook.com</a>
    </p>
    <p>
      <span class="fa fa-phone"></span>
      <a href="tel:+32496289705">+32 496 28 97 05</a>
    </p>
    
    <p>
      <span class="fa fa-map-marker"></span>
      Bruxelles, Belgique
    </p>
    <p>
      <span class="fa fa-linkedin"></span>
      <a href="https://www.linkedin.com/in/grosjeanbaptiste/">
      LinkedIn
      </a>
    </p>
    <p>
      <span class="fa fa-globe"></span>
      <a href="https://my-way-iota.vercel.app/">
        Mon site
      </a>
    </p>
    <p>
      <span class="fa fa-car"></span>
      Permis B
    </p>
    <!-- <p>
      <span class="fa fa-sync-alt"></span>
      Mis à jour {{ today | date }}
    </p> -->
  </div>