<div>
  <h1>The Founder</h1>

  <div class="parallax"></div>

  <section>
      <h2>Who Am I?</h2>
      <p>
        My name is Baptiste Grosjean, and I am the founder of MyWay. I'm an entrepreneur with a strong passion for education and technology, and I've dedicated my career to improving the way we learn and grow.
      </p>
      <!-- <img src="../../../assets/profile.JPG" alt="Baptiste Grosjean"> -->
  </section>

  
  <section>
      <h2>My Background</h2>
      <p>
        I was born and raised in Brussels, and my love for this city is a big part of who I am. I had the opportunity to study at various Belgian schools, where I experienced firsthand the need for more personalized and student-centered educational paths. After completing my studies, I set out to create a solution that could address this need.
      </p>
  </section>

  <section>
      <h2>Why I Founded MyWay</h2>
      <p>
        I started MyWay because I believe that every student should have the opportunity to graduate if they wish to do so. I've seen too many talented individuals struggle within traditional educational systems that don't cater to their unique learning styles and interests. MyWay is my answer to this problem, providing tailored pathways that empower students to take control of their education.
      </p>
  </section>

  <section>
      <h2>My Vision for MyWay</h2>
      <p>
        My vision for MyWay is to give every student the opportunity to build their own path and to graduate. I want to see a world where education is a personalized journey, not a one-size-fits-all process. By leveraging cutting-edge technology and data-driven insights, we aim to revolutionize the way students approach their education and ultimately, their future.
      </p>
  </section>

  <div class="parallax"></div>


  <section>
      <h2>Contact Me</h2>
      <p>
        If you have any questions, ideas or would like to get in touch, you can reach me at <a href="mailto:grosjeanbaptiste@outlook.com">grosjeanbaptiste@outlook.com</a>. I'm always open to feedback and discussions about education, technology, and how we can make the world a better place.
      </p>
      <p>
          You can also connect with me on <a href="https://www.linkedin.com/in/grosjeanbaptiste/">LinkedIn</a> for more professional inquiries, or follow me on <a href="https://www.facebook.com/baptistegrosjean/">Facebook</a> for updates on MyWay and other projects.
      </p>
  </section>
</div>
