<div class="education">
  <div class="timeline">
    <div *ngFor="let ed of educations" class="timeline-item" [ngClass]="{ 'night': ed.education_type === 'night', 'day': ed.education_type === 'day' }">
        <div class="timeline-content">
            <h4>{{ ed.education_degree }}</h4>
            <p>{{ ed.education_institution }}, {{ ed.education_location }}</p>
            <p>{{ ed.education_startYear | date:'MMM yyyy' }} - {{ ed.education_endYear | date:'MMM yyyy' }}</p>
        </div>
    </div>
  </div>
</div>

<!-- <div class="education">
  <div class="timeline">
    <div *ngFor="let group of educationGroups" 
         class="timeline-item-group" 
         [style.width]="getWidthOfGroup(group)">
      <div *ngFor="let ed of group" 
           class="timeline-item" 
           [ngClass]="{ 'night': ed.education_type === 'night', 'day': ed.education_type === 'day' }">
        <div class="timeline-content">
            <h4>{{ ed.education_degree }}</h4>
            <p>{{ ed.education_institution }}, {{ ed.education_location }}</p>
            <p>{{ ed.education_startYear | date:'MMM yyyy' }} - {{ ed.education_endYear | date:'MMM yyyy' }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
