<div class="button-container">
    <button class="nav-button" routerLink="./institution">Institution</button>
    <button class="nav-button" routerLink="./grade">Grade</button>
    <button class="nav-button" routerLink="./passerelle">Passerelle</button>
    <!-- <select class="nav-button" [(ngModel)]="selectedDomaine">
        <option *ngFor="let domaine of domaines" [value]="domaine.domaine_paysage">
          {{ domaine.domaine_paysage }}
        </option>
      </select>
      <button (click)="filter()">Appliquer le filtre</button> -->
</div>