<h2>Grades</h2>
<div class="section" *ngIf="grades">

  <p>{{selectedDomaine }}</p>
  <table>
    <thead>
        <tr>
            <th (click)="sort('code_etudes')">Code études <i class="fa fa-sort"></i></th>
            <th (click)="sort('intitule_des_etudes')">Intitulé des études <i class="fa fa-sort"></i></th>
            <th (click)="sort('type_d_enseignement')">Type d'enseignement <i class="fa fa-sort"></i></th>
            <th (click)="sort('cycle')">Cycle <i class="fa fa-sort"></i></th>
            <th (click)="sort('forme_d_etudes')">Forme d'études <i class="fa fa-sort"></i></th>
            <th (click)="sort('domaine_paysage')">Domaine paysage <i class="fa fa-sort"></i></th>
            <th (click)="sort('code_grade_academique')">Code grade académique <i class="fa fa-sort"></i></th>
            <th (click)="sort('intitule_des_grades_academiques_dont_intitule_de_la_finalite')">Intitulé des grades académiques / finalité <i class="fa fa-sort"></i></th>
            <th (click)="sort('finalite')">Finalité <i class="fa fa-sort"></i></th>
            <th (click)="sort('titre_delivre_a_l_issue_des_etudes')">Titre délivré à l'issue des études <i class="fa fa-sort"></i></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let study of grades">
            <td>{{ study.code_etudes }}</td>
            <td>{{ study.intitule_des_etudes }}</td>
            <td>{{ study.type_d_enseignement }}</td>
            <td>{{ study.cycle }}</td>
            <td>{{ study.forme_d_etudes }}</td>
            <td>{{ study.domaine_paysage }}</td>
            <td>{{ study.code_grade_academique }}</td>
            <td>{{ study.intitule_des_grades_academiques_dont_intitule_de_la_finalite }}</td>
            <td>{{ study.finalite }}</td>
            <td>{{ study.titre_delivre_a_l_issue_des_etudes }}</td>
        </tr>
    </tbody>
</table>

    <div>
        <button (click)="previousPage()" [disabled]="pageIndex === 0">Précédent</button>
        <button (click)="nextPage()" [disabled]="pageIndex >= getLastPageIndex()">Suivant</button>
    </div>
</div>
<div class="section" *ngIf="!grades">
    <p>Loading grades...</p>
</div>
