<div class="component">
  <p>Try the app with johndoe@example.com PASSWORD : user</p>
  <div class="cv">
 
    <app-header/>

    <app-personal-info/>
    
    <h3>À propos</h3>
    <app-about/>
    
    <h3>Compétences</h3>
    <app-skills/>

    <h3>En cours</h3>
    <app-learning/>

    <h3>Personnalité</h3>
    <app-softskills/>

    <h3>Langues</h3>
    <app-langues/>

    <h3>Journée type</h3>
    <app-day-chart/>

    <h3>Expérience</h3>
    <app-experience/>

    <h3>Éducation</h3>
    <app-education/>

  </div>
</div>
