.cv {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;

    h3 {
      font-size: 1.4em;
      margin-top: 20px;
      border-bottom: 1px solid #333;
      padding-bottom: 5px;
    }
  
    // .about blockquote {
    //   font-style: italic;
    //   color: #666;
    // }
 
  }
  